
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]

# nginx
#server {
#    location / {
#        try_files $uri $uri/ /index.php;
#    }
#}